<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center">{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding background-gradient">
  <div class="container mt-4">
    <div class="intro-text text-center mb-4">
      <h2 class="mb-2">Fini les heures perdues et les arnaques</h2>
      <p>Votre compagnon de confiance pour localiser les meilleurs garages à proximité !</p>
    </div>

    <div class="search-bar mb-4">
      <ion-item lines="none">
        <ion-input (ionInput)="searchCity($event)" placeholder="Où souhaitez-vous chercher ?" clearInput></ion-input>
      </ion-item>
    </div>

    <div *ngIf="garageCity === undefined">
      <div class="row">
        <div class="col-12 col-md-6 mb-4" *ngFor="let item of garages">
          <div class="card shadow-sm" *ngIf="item.image_url != ''">
            <img [src]="item.image_url" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">{{item.location.city}}</p>
              <a  class="btn btn-primary" (click)="goDetail(item)">En savoir plus</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="garageCity !== undefined">
      <div class="row">
        <div class="col-12 col-md-6 mb-4" *ngFor="let item of garageValidate">
          <div class="card shadow-sm" *ngIf="item.image_url != ''">
            <img [src]="item.image_url" class="card-img-top" *ngIf="item.image_url != ''">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">{{item.location.city}}</p>
              <a  class="btn btn-primary" (click)="goDetail(item)">En savoir plus</a>
              <a  class="btn btn-secondary">Commentaire</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

