<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Fini les heures perdu et les arnaques  </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>
      Votre compagnon de confiance pour localiser les meilleurs garages à proximité !
    </ion-label>
  </ion-item>
  <ion-toolbar>
  </ion-toolbar>
  <ion-item>
    <ion-input (ionInput)="searchCity($event)"  label="Chercher dans une autre ville" placeholder="Ou souhaitez vous chercher ?"></ion-input>
  </ion-item>
  
<div class="row" *ngFor="let item of garages">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-image">
          <img id="pkmImg" src={{item.image_url}}>
        </div>
        <div class="card-content white-text">
          <span class="card-title">{{item.name}}</span>
          <p>{{item.location.city}}</p>
        </div>
        <div class="card-action">
          <a>Detail</a>
          <a >Commentaire</a>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>
