.rating>ion-icon{
    color: yellow;
}
.card-image img {
    width: 100%;
    height: auto;
  }

  .center-align {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .rating ion-icon {
    color: gold;
    margin: 0 5px;
  }